<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Com.Homepage.ExploreCategories</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ExploreFullSleeve</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ExploreCoffeeMugs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ExploreMobileCases</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ExploreTshirts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ExplorePolos</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>before</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>after</td>
<td>&nbsp;</td></tr>
<tr>
<td>Com.Homepage.WhatIspiresMost</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Photography</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Travelling</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Biker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Profession</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FitnessFreak</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Gifting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Foodie</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Developer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Humour</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MusicLover</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>StartUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Sports</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>before</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>after</td>
<td>&nbsp;</td></tr>
</table>
