<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 14:26:43</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/04/16 14:26:44</td>   <td>109</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExploreCategories.before()[pri:0, instance:Com.Homepage.ExploreCategories@1ac5f9b]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/04/16 14:26:44</td>   <td>194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreCategories.ExploreTshirts()[pri:0, instance:Com.Homepage.ExploreCategories@1ac5f9b]">ExploreTshirts</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 14:32:16</td>   <td>332584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.ExploreCategories@1ac5f9b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/04/16 14:32:19</td>   <td>335086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreCategories.ExplorePolos()[pri:1, instance:Com.Homepage.ExploreCategories@1ac5f9b]">ExplorePolos</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 14:36:25</td>   <td>581665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.ExploreCategories@1ac5f9b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/04/16 14:36:28</td>   <td>584166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreCategories.ExploreFullSleeve()[pri:2, instance:Com.Homepage.ExploreCategories@1ac5f9b]">ExploreFullSleeve</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 14:42:51</td>   <td>967779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.ExploreCategories@1ac5f9b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/04/16 14:42:54</td>   <td>970281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreCategories.ExploreMobileCases()[pri:3, instance:Com.Homepage.ExploreCategories@1ac5f9b]">ExploreMobileCases</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 14:46:39</td>   <td>1195523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.ExploreCategories@1ac5f9b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/04/16 14:46:41</td>   <td>1198024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExploreCategories.ExploreCoffeeMugs()[pri:4, instance:Com.Homepage.ExploreCategories@1ac5f9b]">ExploreCoffeeMugs</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 14:47:07</td>   <td>1223887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.ExploreCategories@1ac5f9b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/04/16 14:47:10</td>   <td>1226388</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExploreCategories.after()[pri:0, instance:Com.Homepage.ExploreCategories@1ac5f9b]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 14:47:10</td>   <td>1226600</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WhatIspiresMost.before()[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 14:47:10</td>   <td>1226601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Photography()[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Photography</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 14:54:56</td>   <td>1692458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 14:54:58</td>   <td>1694959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Travelling()[pri:1, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Travelling</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 14:57:07</td>   <td>1823283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 14:57:09</td>   <td>1825784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.MusicLover()[pri:2, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">MusicLover</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:00:01</td>   <td>1997359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:00:03</td>   <td>1999860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.FitnessFreak()[pri:3, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">FitnessFreak</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:01:41</td>   <td>2097162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:01:43</td>   <td>2099662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Foodie()[pri:4, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Foodie</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:05:19</td>   <td>2315916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:05:22</td>   <td>2318417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Biker()[pri:5, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Biker</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:08:47</td>   <td>2523432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:08:49</td>   <td>2525933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.StartUp()[pri:6, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">StartUp</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:15:19</td>   <td>2916017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:15:22</td>   <td>2918518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Profession()[pri:7, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Profession</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:16:47</td>   <td>3003905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:16:50</td>   <td>3006406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Gifting()[pri:8, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Gifting</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:18:29</td>   <td>3105559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:18:32</td>   <td>3108061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Sports()[pri:9, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Sports</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:24:37</td>   <td>3473557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:24:40</td>   <td>3476058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Humour()[pri:10, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Humour</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:31:13</td>   <td>3869346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:31:15</td>   <td>3871858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Humour()[pri:10, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Humour</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:33:33</td>   <td>4009746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:33:36</td>   <td>4012247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Developer()[pri:11, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Developer</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:34:29</td>   <td>4065328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:34:31</td>   <td>4067830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Developer()[pri:11, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Developer</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:38:11</td>   <td>4287667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:38:14</td>   <td>4290168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WhatIspiresMost.Developer()[pri:11, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">Developer</td> 
  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:41:54</td>   <td>4510067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="82bdd7">  <td>18/04/16 15:41:56</td>   <td>4512568</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WhatIspiresMost.after()[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>18/04/16 15:41:56</td>   <td>4512772</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Com.Homepage.WhatIspiresMost@1b74ac8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@31957344</td>   <td></td> </tr>
</table>
